{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='editor.css')}}">
    <div class="editor-container">
        <div class="editor-header">
            <div class="menu">
                <a>Upload File</a>
                <a>Links</a>
                
            </div>
            <a>Convert to...</a>
        </div>
        <textarea name="markdown" placeholder="Enter your markdown here and hit convert to get the HTML..."></textarea>
    </div>

{% endblock %}